*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 34, 34);
}

    main {
        display: grid;
        grid-template-columns: 45% auto 40%;
        grid-template-rows: 40% auto 30%;
        gap: 10px;
        background-color: transparent;
        padding: 10px;
        width: 700px;
        height: 450px;
        margin: 100px auto;
      }

      main > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
      }
      .box1{
          grid-column: 1 / span 2;
          background-color: orangered;
      }

      .box2{
          background-color: orange;
      }

      .box3{
          grid-row: 2 / span 2;
          background-color: green;
      }
      .box4, .box5{
        grid-column: 2 / span 2;
        background-color: blue;
      }

      
