*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(11, 11, 17);
    margin: 100px;
}

main{
    display: grid;
    grid-template-areas: 
        "a a b"
        "c d d"
        "c e e";
    gap: 20px;
}

main div{
    padding: 80px;
}

.box1{
    grid-area: a;
    background: orange;
}
.box2{
    grid-area: b;
    background:yellow;
}
.box3{
    grid-area: c;
    background: green;
}
.box4{
    grid-area: d;
    background: rgb(18, 136, 214);
}
.box5{
    grid-area: e;
    background: rgb(18, 136, 214);
}
a{
    color: white;
}